<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Capstone Project</title>
		<style> 
		html {
			font-family: 'Helvetica';
			background: white;
		}

		body { 
			background: lightgrey;
			max-width: 900px;
			margin: 0 auto; 
			padding: 5px 10px 5px 10px;
		}

		.header {
			padding: 2px 10px 2px 10px;
			background: lightsteelblue;
		}

		input[type = "submit"] {
			padding: 0px 10px 0px 10px;
			color: black;
			background: lightsteelblue;
			border: none;
			box-shadow: 1px 1px 1px #4C6E91;
		}
		
		input[type = "submit"]:hover {
			background: steelblue;
		}
		</style>
	</head>

	<body>
		<div class = page>
			<div class = header>
	  			<h1>NYC Neighborhood Block Recommender </h1>
	  		</div>	
	  		<div class = contents> 
	  			<h4>Cluster page </h4>
	  			<p> median household income = $15,000, number of healthy trees = 50 </p>
	  			<img src = "/static/20 Clusters vs nynta inc15000 tree50.png" height = 480 width = 600>
				<li><a href="{{ url_for('clusterr') }}">cluster page: income = $15,000 and number of healthy trees = 250</a></li>
				<li><a href="{{ url_for('ccluster') }}">cluster page: income = $100,000 and number of healthy trees = 50</a></li>
				<li><a href="{{ url_for('cclusterr') }}">cluster page: income = $100,000 and number of healthy trees = 250</a></li>
	  			
			</div>
		</div>
	</body>
</html>