<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Capstone Project</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class=page>
  			<h1>NYC Neighborhood Block Recommender </h1>
			<div class=metanav>

				<h4>Please choose the characteristics you care about from the following: </h4>
				
				<form id='input' method='post' action='index'>
				<p>
					<input type='checkbox' name='features' value='med_hhld_inc'>Median household income</br>
					<input type='checkbox' name='features' value='white_only_pct'>% of houses with white head of household<br>
					<input type='checkbox' name='features' value='black_onlh_pct'>% of houses with black head of household<br>
					<input type='checkbox' name='features' value='asian_only_pct'>% of houses with asian head of household<br>
					<input type='checkbox' name='features' value='mixed_races_pct'>% of houses with mixed races head of household<br>
					<input type='checkbox' name='features' value='hhld_size_all'>Household size<br>
					<input type='checkbox' name='features' value='Noise - Residential'>Noise complaint (residential)<br>
					<input type='checkbox' name='features' value='assault'>Assault<br>
					<input type='checkbox' name='features' value='drug'>Drug<br>
					<input type='checkbox' name='features' value='harrassment'>Harrassment<br>
					<input type='checkbox' name='features' value='rape_sex_crime'>Rape/Sex Crime<br>
					<input type='checkbox' name='features' value='robbery'>Robbery<br>
					<input type='checkbox' name='features' value='theft'>Theft<br>
					<input type='checkbox' name='features' value='weapon'>Weapon<br>
					<input type='checkbox' name='features' value='good trees'>Number of healthy trees<br>
					<input type='submit' value='Submit'>
				</p>
				</form>
			</div>
		</div>
	</body>
</html>
