<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Capstone Project - Picked Characteristics</title>
		<style> 

			html {
				font-family: 'Helvetica';
				background: white;
			}

			body { 
				background: lightgrey;
				max-width: 900px;
				margin: 0 auto; 
				padding: 5px 10px 5px 10px;
			}

			.header {
				padding: 2px 10px 2px 10px;
				background: lightsteelblue;
			}
		</style>

	</head>

	<body>
		<div class = page>
			<div class = header>
	  			<h1>NYC Neighborhood Block Recommender </h1>
	  		</div>

	  		<div class = contents> 
				<h4>You have picked the following characteristics</h4>
				<form action = '/picked_vals' method = 'POST'>
					{% for char in char_chosen_list %}
						<p> {{char}} <input type = 'number' name = '{{char}}'> <br /> </p>
					{% endfor %}
					<input type = 'submit' value = 'Submit'>
				</form>
			</div>
		</div>
	</body>
</html>
