<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Capstone Project</title>
		<style> 
		html {
			font-family: 'Helvetica';
			background: white;
			height: 500px;
		}

		body { 
			background: lightgrey;
			max-width: 900px;
			margin: 0 auto; 
			padding: 5px 10px 5px 10px;
		}

		.header {
			padding: 2px 10px 2px 10px;
			background: lightsteelblue;
		}

		input[type = "submit"] {
			padding: 0px 10px 0px 10px;
			color: black;
			background: lightsteelblue;
			border: none;
			box-shadow: 1px 1px 1px #4C6E91;
		}
		
		input[type = "submit"]:hover {
			background: steelblue;
		}
		</style>
	</head>

	<body>
		<div class = page>
			<div class = header>
	  			<h1>NYC Neighborhood Block Recommender </h1>
	  		</div>

			<div class = contents>
				<h4>Please choose the characteristics you care about from the following: </h4>
				
				<form id='input' method='post' action='picked_chars'>
				
				<p> <center> <h4> Demographics and Amenities </h4> </center> </p>
				<table>
					<col width = '250px' />
					<col width = '250px' />
					<col width = '250px' />	

					<tr>
						<td> 
						<input type='checkbox' name='med_hhld_inc' value='Median household income'>Median household income 
						</td>
						<td> 
						<input type='checkbox' name='hhld_size_all' value='Household Size'>Household size 
						</td>
						<td> 
						<input type='checkbox' name='med_gross_rent' value='Median gross rent'>Median gross rent 
						</td>
					</tr>
					<tr>
						<td> 
						<input type='checkbox' name='med_num_rooms' value='Median number of rooms'>Median number of rooms 
						</td>						
						<td> 
						<input type='checkbox' name='noise_res' value='Noise complaint (residential)'>Noise complaint (residential) 
						</td>
						<td>  
						<input type='checkbox' name='good_trees' value='Number of healthy trees'>Number of healthy trees 
						</td>
					</tr>
					<tr>
						<td> 
						<input type='checkbox' name='num_lines' value='Number of subway lines'>Number of subway lines 
						</td>
						<td> 
						<input type='checkbox' name='num_food_venues' value='Number of food venues'>Number of food venues 
						</td>
					</tr>
				</table>

				<p> <center> <h4> Crime </h4> </center> </p>
				<table>
					<col width = '250px' />
					<col width = '250px' />
					<col width = '250px' />	

					<tr>
						<td> 
						<input type='checkbox' name='murder_manslaughter_homicide' value='Murder/Manslaughter/Homicide'>Murder/Manslaughter/Homicide
						</td>
						<td> 
						<input type='checkbox' name='rape_sex_crime' value='Rape/Sex Crime'>Rape/Sex crime 
						</td>
						<td> 
						<input type='checkbox' name='robbery' value='Robbery'>Robbery 
						</td>
					</tr>
					<tr>
						<td> 
						<input type='checkbox' name='assault' value='Assault'>Assault 
						</td>
						<td> 
						<input type='checkbox' name='larceny' value='Larceny'>Larceny 
						</td>
						<td> 
						<input type='checkbox' name='burglary' value='Burglary'>Burglary 
						</td>
					</tr>
					<tr>
						<td> 
						<input type='checkbox' name='arson' value='Arson'>Arson 
						</td>
						<td> 
						<input type='checkbox' name='theft' value='Theft'>Theft 
						</td>
						<td> 
						<input type='checkbox' name='harrassment' value='Harrassment'>Harrassment
						</td>
					</tr>

					<tr>
						<td> 
						<input type='checkbox' name='drug' value='Drug'>Drug 
						</td>
						<td>  
						<input type='checkbox' name='weapon' value='Weapon'>Weapon 
						</td>
					</tr>
				</table>

				<center>
				<input type='submit' value='Submit'>
				</center>
				</form>
			</div>
		</div>
	</body>
</html>
