<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Capstone Project</title>
		<style> 
		html {
			font-family: 'Helvetica';
			background: white;
		}

		body { 
			background: lightgrey;
			max-width: 1200px;
			margin: 0 auto; 
			padding: 5px 10px 5px 10px;
		}

		.header {
			padding: 2px 10px 2px 10px;
			background: lightsteelblue;
		}

		input[type = "submit"] {
			padding: 0px 10px 0px 10px;
			color: black;
			background: lightsteelblue;
			border: none;
			box-shadow: 1px 1px 1px #4C6E91;
		}
		
		input[type = "submit"]:hover {
			background: steelblue;
		}
		</style>
	</head>

	<body>
		<div class = page>
			<div class = header>
	  			<h1>NYC Neighborhood Block Recommender </h1>
	  		</div>	
	  		<div class = contents> 
	  			<h4>Here are the characteristics and values you chose: </h4>
				<table> 
					{% for key, value in picked_vals_results.iteritems() %}
						<tr>
							<th> {{ key }} </th>
							<td> {{ value }} </td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</body>
</html>