<!doctype html>
<html lang = "en">
	<head>
		<meta charset="utf-8">
		<title>Capstone Project</title>
		<style> 
		html {
			font-family: 'Helvetica';
			background: white;
		}

		body { 
			background: lightgrey;
			max-width: 900px;
			margin: 0 auto; 
			padding: 5px 10px 5px 10px;
		}

		.header {
			padding: 2px 10px 2px 10px;
			background: lightsteelblue;
		}

		input[type = "submit"] {
			padding: 0px 10px 0px 10px;
			color: black;
			background: lightsteelblue;
			border: none;
			box-shadow: 1px 1px 1px #4C6E91;
		}
		
		input[type = "submit"]:hover {
			background: steelblue;
		}
		</style>

		<link rel = "stylesheet" href = "http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
		<script type = "text/javascript" src = "http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
		{{script | safe }}
	</head>

	<body>
		<div class = page>
			<div class = header>
				<h1>NYC Neighborhood Block Recommender </h1>
			</div>  
	  		<div class = contents> 
				<h1><center>Recommendations</center></h1>
				<center>
				{{div | safe}}
				</center>
				
				<h2>Details</h2>

	  			<h4>Here are the characteristics and values you chose: </h4>
				<table> 
					{% for list in picked_vals_kv %}
						<tr>
							<td>            </td>
							{% for item in list %}
									<td> {{item}} </td>
							{% endfor %}
						</tr>
					{% endfor %}
					{% for values in cluster_centers %}
						<tr>
							<td> </td>
							{% for i in values %}
								<td> {{i}} </td>
							{% endfor %}
						</tr>
					{% endfor %}
				</table>
				<p> Recommended: Group {{cluster_val}} </p>
			</div>
		</div>
	</body>
</html>
