<!doctype html>
<html lang = "en">
	<head>
		<meta charset="utf-8">
		<title>Capstone Project</title>
		<style> 
		html {
			font-family: 'Helvetica';
			background: white;
		}

		body { 
			background: lightgrey;
			max-width: 900px;
			margin: 0 auto; 
			padding: 5px 10px 5px 10px;
		}

		.header {
			padding: 2px 10px 2px 10px;
			background: lightsteelblue;
		}

		input[type = "submit"] {
			padding: 0px 10px 0px 10px;
			color: black;
			background: lightsteelblue;
			border: none;
			box-shadow: 1px 1px 1px #4C6E91;
		}
		
		input[type = "submit"]:hover {
			background: steelblue;
		}
		</style>

		<link rel = "stylesheet" href = "http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css" type="text/css" />
		<script type = "text/javascript" src = "http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
		{{ script | safe }}
	</head>

	<body>
		<div class = page>
			<div class = header>
				<h1>NYC Neighborhood Block Recommender </h1>
			</div>  
	  		<div class = contents> 
				<h1><center>Recommendations</center></h1>
				<center>
				{{ div | safe }}
				</center>

				<center>
					<table border = '1'> 
						<tr> 
							<th> Rank </th>
							<th> Neighborhood </th>
							<th> Borough </th>
						</tr>
						{%- set rank_vals = rank_dict['GEOID'] %}
						{%- set zillow_vals = zillow_dict['Name'] %}
						{%- set boro_vals = zillow_dict['Boro'] %}
		
						{% for k, v in rank_vals.items() %}
							{%- set zillow_val = zillow_vals[v] %}
							{%- set boro_val = boro_vals[v] %}
							<tr> 
								<td> {{ k }} </td> 
								<td> {{ zillow_val }} </td>
								<td> {{ boro_val }} </td>
							</tr>
						{% endfor %}
					</table>
				</center>
			</div>
		</div>
	</body>
</html>
